footer {
    padding-top: 0;

    .piedepagina {
        background-image: url(/images/images_/fonso2.png);
        display: flex;
        justify-content: center center;
        flex-direction: column;
        align-items: center;
        color: black;
        background-size: cover;
        background-position: center center;
        padding: 2rem;
        flex: 1;


        .pie__foot {
            display: flex;
            gap: 1rem;
            justify-content: center center;
            align-items: center;

        }
    }
}

$redes: (
    facebook: blue,
    instagram: rgb(226, 60, 87),
    whatsapp: green,
);

@each $redsocial, $colordered in $redes {
    .fa-#{$redsocial} {
        background-color: $colordered;
    }
}

.fa-facebook {
    height: 60px;
    font-size: 60px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;

    &:hover {
        background-color: crimson;
    }
}

.fa-whatsapp, .fa-instagram {
    @extend .fa-facebook;
}

footer .foot {
background-color: map-get($redes, instagram);
}