.hero {
    background-image: url(../images/images_/fondo1.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}