@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&family=Sriracha&display=swap');

$fontOswald : 'Oswald', sans-serif;
$primaryColor : rgb(243, 190, 172);
$secondaryColor : violet;
$tertiaryColor: rgb(102, 54, 148);